# for C language
*.[oa]
*.~

# for Microsoft Visual Studio
*.ncb
*.vcproj.*.user
*.suo
contrib/vs9/*/Debug/*
contrib/vs9/*/Release/*
contrib/vs9/*/Independence/*

# for vim
*.swp

# for test
test/*.wav
