# for C language
*.[oa]
*.~

# for Microsoft Visual Studio 2008
*.ncb
*.vcproj.*.user
*.suo
contrib/vs*/*/Debug
contrib/vs*/*/Debug/*
contrib/vs*/*/Release
contrib/vs*/*/Release/*
contrib/vs*/*/Independence
contrib/vs*/*/Independence/*
contrib/vs*/Debug
contrib/vs*/Debug/*
contrib/vs*/Release
contrib/vs*/Release/*
contrib/vs*/Independence
contrib/vs*/Independence/*

# for Microsoft Visual Studio 2010
*.vcxproj.user
*.opensdf
*.sdf
contrib/vs10/*/Debug
contrib/vs10/*/Debug/*
contrib/vs10/*/Release
contrib/vs10/*/Release/*
contrib/vs10/*/Independence
contrib/vs10/*/Independence/*

# for vim
*.swp

# for test
test/*.wav
